body {
    background: #f5d9df;
    font-family: "Nunito", sans-serif;
}

/*
class blurb -and all h2 and p in it
*/
.blurb h2 {
    color: #EA1C2C;
    font-weight: 100;
    font-size: 2.5rem;
}

.blurb p {
    color: #f498b8;
    font-size: 1.125rem;
    font-weight: 100;
    line-height: 2; /*spacing between lines*/
}

/* to have space between rows*/
.content {
    margin-top: 100px;
    margin-bottom: 100px;
}

#mainNavbar {
    font-size: 1.5rem;
    font-weight: 100;
}
#mainNavbar .navbar-brand {
    color: #EA1C2C;
    font-size: 1.5rem;
    
}

#mainNavbar .nav-link {
    color: white;
}
#mainNavbar .nav-link:hover {
    color: #EA1C2C;
}

#headingGroup span {
    color: #EA1C2C;
}
#headingGroup h1 {
    font-weight: 100;
    font-size: 4rem;
}

/*added class for scrolled navbar look*/
.navbar.scrolled {
    background: rgb(222, 192, 222);
    transition: background 500ms;
}

/*
@media allows to change size of elements acoordint to screen size:
here- before point 1600/1400/1200px - initial sizes- above
*/
@media (max-width: 1600px){
    #headingGroup h1  {
        font-weight: 100;
        font-size: 3.5rem;
    }
}

@media (max-width: 1400px){
    #headingGroup h1  {
        font-weight: 100;
        font-size: 3rem;
    }
}
@media (max-width: 1200px){
    #headingGroup h1  {
        font-weight: 100;
        font-size: 2.5rem;
    }
}